{% extends "base.html" %}

{% block title %}Carrinho{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Seu carrinho</h1>
    {% if items %}
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Imagem</th>
                    <th>Produto</th>
                    <th>Quandidade</th>
                    <th>Preço</th>
                    <th>Total</th>
                    <th>Ações</th> 
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename=item.get_product().image) }}" 
                             alt="{{ item.get_product().name }}" 
                             style="width: 100px; height: 100px; object-fit: cover;">
                    </td>
                    <td>{{ item.get_product().name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>R${{ item.get_product().price }}</td>
                    <td>R${{ item.quantity * item.get_product().price }}</td>
                    <td>
                        <form action="{{ url_for('auth.remove_from_cart', cart_item_id=item.id) }}" method="POST">
                            <button type="submit" class="btn btn-danger">Remover</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4 class="text-right">Total: R${{ total_price }}</h4>
        <form action="{{ url_for('auth.empty_cart') }}" method="POST">
            <button type="submit" class="btn btn-success mt-4">Finalizar Compra</button>
        </form>
    {% else %}
        <p>Seu carrinho está vazio :( . <a href="{{ url_for('auth.store') }}">Ir para a loja</a>.</p>
    {% endif %}
</div>

<div class="modal fade" id="purchaseSuccessModal" tabindex="-1" role="dialog" aria-labelledby="purchaseSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="purchaseSuccessModalLabel">Compra Finalizada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Compra finalizada com sucesso! Obrigado pela sua compra.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}